<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>sprout</string>
				<string>com.googleusercontent.apps.580971148783-vtnhovcbv03fea1rmvn7hes466a6b3q3</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>580971148783-vtnhovcbv03fea1rmvn7hes466a6b3q3.apps.googleusercontent.com</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<false/>
		<key>NSAllowsLocalNetworking</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Sprout needs camera access so that you can upload receipts and invoices for your records</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Sprout needs photo library access to select receipts and invoices for you to upload to your records</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>$(PRODUCT_NAME) uses tracking data to help provide you with a personalized in-app experience and relevant content</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<false/>
	</dict>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIApplicationShortcutItems</key>
	<array>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.michaeldadi.Sprout.recentTransactions</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTime</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Recent Transactions</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>View your latest spending</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.michaeldadi.Sprout.goals</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeTaskCompleted</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Goals</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Track your financial goals</string>
		</dict>
		<dict>
			<key>UIApplicationShortcutItemType</key>
			<string>com.michaeldadi.Sprout.addExpense</string>
			<key>UIApplicationShortcutItemIconType</key>
			<string>UIApplicationShortcutIconTypeAdd</string>
			<key>UIApplicationShortcutItemTitle</key>
			<string>Add Expense</string>
			<key>UIApplicationShortcutItemSubtitle</key>
			<string>Quick add a new expense</string>
		</dict>
	</array>
</dict>
</plist>
